<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="">
        <img class="w-screen" src="https://rukminim1.flixcart.com/fk-p-flap/844/140/image/b0fdca2826223202.jpg?q=50"
            alt="">
    </div>
    <div class=" px-40">
        <div class=" text-black flex justify-between px-2 py-3">
            <a href="">electronic</a>
            <a href="">TVs & Appliances</a>
            <a href="">Men</a>
            <a href="">women</a>
            <a href="">Baby & kids</a>
            <a href="">Home & Furniture</a>
            <a href="">Sports, Books & More</a>
            <a href="">flights</a>
            <a href="">offer zone</a>

        </div>

        <div class="flex py-8 px-3 justify-between">

            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" alt="">
                <a href="">Grocery</a>

            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt="">
                <a href="">mobiles</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/c12afc017e6f24cb.png?q=100" alt="">
                <a href="">Fashion</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <a href="">electronic</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100" alt="">
                <a href="">home</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" alt="">
                <a href="">Appliances</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100" alt="">
                <a href="">travel</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100" alt="">
                <a href="">beauty,toys & more</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/05d708653beff580.png?q=100" alt="">
                <a href="">2-wheelers</a>
            </div>
        </div>

        <div class="px-2 py-4 flex gap-3">

            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/image/200/200/printer/j/j/y/hp-laserjet-m1005-multifunction-original-imadxhzpeb9qbrfg.jpeg?q=70"
                    alt="">

                <a href="">printers</a>
                <br>
                <a href="" class="text-green-300">from 3999</a>
                <br>
                <a href="" class="text-gray-500">HP</a>
            </div>

            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70"
                    alt="">
                <a href="">camera</a>
                <br>
                <a href="" class="text-green-300">from 4999</a>
                <br>
                <a href="" class="text-gray-500">hp</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70"
                    alt="">
                <a href="">camera</a>
                <br>
                <a href="" class="text-green-300">from 4999</a>
                <br>
                <a href="" class="text-gray-500">hp</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70"
                    alt="">
                <a href="">camera</a>
                <br>
                <a href="" class="text-green-300">from 4999</a>
                <br>
                <a href="" class="text-gray-500">hp</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70"
                    alt="">
                <a href="">camera</a>
                <br>
                <a href="" class="text-green-300">from 4999</a>
                <br>
                <a href="" class="text-gray-500">hp</a>
            </div>
            <div class="">
                <img class="hover:scale-105"
                    src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70"
                    alt="">
                <a href="">camera</a>
                <br>
                <a href="" class="text-green-300">from 4999</a>
                <br>
                <a href="" class="text-gray-500">hp</a>
            </div>
        </div>
    </div>


submenu: [

{name:"Men's Briefs & Trunks"},
{name:"Men's Vests"},
{name:"Men's Boxers"},
{name:"Women Lingerie Sets"},
{name:"Women Bra"},
{name:"Women Panty"},
{name:"Women Sarees"},
{name:"Women Kurtas"},
{name:"Boys Innerwear"},
{name:"Boys Innerwear"},
{name:"Girls Innerwear"},
{name:"Women Slipper Flip Flops"},
{name:"Women Kurta Sets & Salwar Suits"},
]

</body>
</html>